@import '../../util/style/theme.scss';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  user-select: none;
}

body,
html {
  margin: 0;
  padding: 0;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms;
  font-family: sans-serif;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  + label {
    font-size: $medium;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: $radii;
    text-align: center;
    border: 5px solid transparent;

    &* {
      pointer-events: none;
    }

    @include themify($themes) {
      color: themed('textColor');
      background-color: themed('primary400');

      &:hover {
        background-color: themed('primary200');
      }
    }
  }

  &:focus + label {
    @include themify($themes) {
      border: 5px solid themed('secondary400');
      color: themed('textColor');
      background-color: themed('primary200');
    }
  }
}

.img-preview__container {
  font-size: 12px;
  font-family: sans-serif;
  justify-content: space-between;
  position: relative;
  overflow: auto;
  width: 100%;

  .img-preview__item-container {
    width: 47.5%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1.25%;
    padding: 4px;
    float: left;

    @include themify($themes) {
      background-color: themed('primary100');
    }

    .img-preview__item {
      width: 100%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include themify($themes) {
        background-color: themed('primary200');
      }
    }
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

label {
  padding: 16px 0;
  letter-spacing: 1.5px;

  span {
    color: #f44;
  }
}

input,
textarea {
  @include themify($themes) {
    border: 2px solid transparent;
    border-bottom-color: themed('textColor');

    &:focus,
    &:active {
      border-color: themed('textColor');
    }
  }

  border-radius: 2px;
  letter-spacing: 1px;
  font-weight: lighter;
  outline: none;
  padding: 8px;
}

a {
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms;

  @include themify($themes) {
    color: themed('linkTextColor');

    &:hover {
      color: themed('linkTextHoverColor');
    }
  }
}

span.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  font-size: 21px;
  cursor: pointer;
  transition: color 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms;

  &.icon__primary {
    @include themify($themes) {
      color: themed('primary500');

      &:hover {
        color: themed('primary400');
      }
    }

    > i {
      font-weight: lighter;  
    }
  }

  &.icon__secondary {
    @include themify($themes) {
      color: themed('secondary500');

      &:hover {
        color: themed('secondary400');
      }
    }

    > i {
      font-weight: lighter;  
    }
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1600;
  top: 0;
  left: 0;
  display: block;
  user-select: none;
  display: none;
  opacity: 0;
  cursor: pointer;
  transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  @include themify($themes) {
    background-color: themed('secondary400') + a3;
  }
}

.app-container {
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('secondary50');
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  .header-container {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1600;
    padding: 0 32px;

    @include themify($themes) {
      background-color: themed('primary100');
      color: themed('textColor');
      border-bottom: 5px solid themed('primary200');
    }

    .menu {
      display: block;

      @media screen  and (min-width: $allDevices) {
        display: none;
      }
    }

    .logo-container {
      height: 75%;
      width: auto;
      display: inline-block;

      .logo {
        background: url(../assets/images/logo.png) center no-repeat,
          #fff7;
        height: 100%;
        width: 42px;
        background-size: contain;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .nav-container {
      display: none;
      
      @media screen and (min-width: $allDevices) {
        width: 1000px;
        letter-spacing: 1px;
        font-family: sans-serif;
        max-width: 83.333%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      .nav-container__list-container {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 0;

        @media screen and (min-width: $allDevices) {
          flex-direction: row;
          justify-content: space-between;
          height: 100%;
        }
  
        .list-container__list-item {
          display: none;
          
          @media screen and (min-width: $allDevices) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: auto;
            height: 100%;
            text-transform: uppercase;
          }

          > span.items-cart {
            position: absolute;
            margin-top: -11px;
            margin-left: 11px;
            border-radius: 50%;
            width: 19px;
            height: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $small;
            font-family: sans-serif;
            
            @include themify($themes) {
              background-color: themed('secondary200');
            }
          }
  
          > a {
            text-decoration: none;
            font-size: $small;
  
            @include themify($themes) {
              color: themed('textColor');
            }

            &:active,
            &.active,
            &:hover {
              @include themify($themes) {
                color: themed('secondary500');
              }
            }
          }
        }
      }
    }

  }

  .settings-container {
    opacity: 0;
    position: fixed;
    top: 56px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1500;
    width: 275px;
    max-width: 45%;
    padding: 16px;
    transform: translateY(-100vh);
    box-shadow: 0 16px 24px 2px rgba(21, 21, 21, 0.14),
      0 6px 30px 5px rgba(21, 21, 21, 0.12),
      0 8px 10px -7px rgba(21, 21, 21, 0.2);
    border-bottom-left-radius: $radii;
    border-bottom-right-radius: $radii;
    
    @include themify($themes) {
      background-color: themed('secondary100');
    }

    .settings__options-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      list-style: none;
      padding: 0;

      .settings__options-list {
        list-style: none;
        width: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: $medium;
        cursor: pointer;
        position: relative;
        z-index: 9;
        padding: 8px;

        .option-list__helper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: -1;
          transition: opacity 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms;
          
          @include themify($themes) {
            background: linear-gradient(to right, themed('secondary200') 33.333%, transparent 100%);
          }
          
          &:hover {
            opacity: 1;
          }
        }

        @include themify($themes) {
          border-bottom: 2px solid themed('secondary200');

          > a {
            color: themed('textColor');
          }
        }
      }
    }
  }

  .logo-alt__container {
    width: 33vw;
    height: 33vh;
    user-select: none;

    .logo-alt {
      background: url(../assets/images/logo-alt.png) center no-repeat;
      width: 100%;
      height: 100%;
      background-size: contain;
    }
  }

  .title {
    font-family: sans-serif;
    font-weight: lighter;
    user-select: none;

    &.title__head,
    &.title__head-sub {
      font-weight: bolder;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #fafafa;
      text-shadow: -1px 1px #222,
        -2px 2px #222,
        -3px 3px #222,
        -4px 4px #222,
        -5px 5px #222,
        -6px 6px #222,
        -7px 7px #222,
        -8px 8px #fafafa;
      text-align: center;
    }

    &.title__head {
      font-size: 13vw;

      @media screen and (min-width: $tablet) {
        font-size: 7vw;
      }

      @media screen and (min-width: $allDevices) {
        font-size: 5vw;
      }
    }

    &.title__head-sub {
      font-size: 8vw;
      color: #222;
      text-transform: capitalize;
      font-weight: 500;
      text-shadow: -1px 1px #fafafa,
        -2px 2px #fafafa;

      @media screen and (min-width: $tablet) {
        font-size: 3vw;
      }

      @media screen and (min-width: $allDevices) {
        font-size: 2vw;
      }
    }
  }

  .button {
    user-select: none;
    cursor: pointer;
    border-radius: $radii;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 0.1s, border-color 0.15s, background-color 0.2s;
    outline: none;
    font-weight: 300;
    font-family: sans-serif;
    font-size: $medium;

    &.large {
      padding: 16px 32px;
      font-size: $large;

      .icon-container {
        font-size: $large;
      }
    }

    .icon-container {
      font-size: $medium;
      margin-right: 0.75rem;

      svg {
        @include themify($themes) {
          color: themed('secondary400') !important;
        }
      }
    }

    @include themify($themes) {
      border: 2px solid transparent;
      color: themed('buttonTextColor');
      text-transform: themed('buttonTextTransform');

      &.primary {
        border-color: themed('primary300');
        background-color: themed('primary50');
        
        &:hover {
          color: themed('buttonTextHoverColor');
          border-color: themed('primary400');
          background-color: themed('primary100');
        }
      }


      &.secondary {
        border-color: themed('secondary300');
        background-color: themed('secondary50');
        
        &:hover {
          color: themed('buttonTextHoverColor');
          border-color: themed('secondary400');
          background-color: themed('secondary100');
        }
      }
    }
  }

  .product-form {
    width: 30rem;
    max-width: 91.666%;
    margin: 3.5rem auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 16px 32px;
    
    @include themify($themes) {
      box-shadow: themed('boxShadowMain');
      background-color: themed('secondary100');
    }

    .form-control {
      margin: 1rem auto;
    }
  }

  .checkout-form {
    width: 30rem;
    max-width: 91.666%;
    margin: 3.5rem auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 16px;
    
    @include themify($themes) {
      box-shadow: themed('boxShadowMain');
      background-color: themed('secondary100');
    }

    .form-control {
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .form-control__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .form-control__inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;

        .form-control {
          width: 100%;
        }
      }

      .form-control {
        width: 100%;
      }
    }
  }

  .main-content__container {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;

    .main-content__hero-container {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;

      > .hero-container__cover {
        width: 100%;
        height: 100vh;
        background: radial-gradient(#2221 33%, #2226 100%),
          url('../assets/images/tech-gadgets.jpg') center no-repeat;
        image-rendering: crisp-edges;
        background-origin: border-box;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        background-size: cover;
        justify-content: center;
        align-items: center;
        position: relative;

        > .hero-cover__go-down {
          position: absolute;
          font-size: 64px;
          bottom: 84px;
          cursor: pointer;
          transition: color .25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms;

          @include themify($themes) {
            color: themed('primary300');
            
            &:hover {
              opacity: 1 !important;
              color: themed('primary400');
            }
          }

        }
      }
    }

    .wrapper {
      width: 91.666%;
      max-width: 1200px;
      margin: 3.5rem auto;
    }
  }

  .footer__container {
    padding: 64px 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: sans-serif;

    @include themify($themes) {
      background-color: themed('primary100');
      border-top: 5px solid themed('primary200');
    }

    .footer__content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 7rem;
      max-width: 1200px;
    }

    .footer__credits {
      font-weight: lighter;
      font-size: $small;
      width: 100%;
      text-align: center;
      margin-top: 16px;
      max-width: 1200px;
    }
  }

  .error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 7rem;
    width: 600px;
    max-width: 91.666%;
    padding: 32px;
    box-shadow: -3px 3px 5px 5px #2221,
        -5px 5px 10px 3px #2222,
        -5px 5px 30px #2223;
    border-radius: $radii;

    @include themify($themes) {
      background-color: themed('secondary100');
    }

    > span {
      height: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      cursor: initial;
      user-select: none;

      > p {
        font-size: 5em;
        font-family: monospace;
      }
    }
  }

  .sidedrawer-container {
    width: 350px;
    max-width: 66.66%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    letter-spacing: 1px;
    position: fixed;
    left: 0;
    top: 0;
    padding: 3.5rem 0;
    transform: translateX(-120vw);

    @include themify($themes) {
      background-color: themed('secondary100');
    }

    @media screen and (min-width: $allDevices) {
      display: none;
    }

    .sidedrawer-container__list-container {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      padding: 0;

      @media screen and (min-width: $allDevices) {
        display: none;
      }

      .list-container__list-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        padding: 24px 32px;
        position: relative;
        z-index: 9;
        text-transform: uppercase;

        @include themify($themes) {
          border-bottom: 2px solid themed('secondary200');
        }

        &:first-of-type {
          border-bottom: none;
        }

        @media screen and (min-width: $allDevices) {
          flex-direction: row;
          width: auto;
          height: 100%;
          padding: 0;
          border-bottom: none !important;
        }

        .list-item__helper {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: -1;
          transition: opacity 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms;
          
          @include themify($themes) {
            background: linear-gradient(to right, themed('secondary200') 33.333%, transparent 100%);
          }
          
          &:hover {
            opacity: 1;
          }

          @media screen and (min-width: $allDevices) {
            display: none;
          }
        }

        > span.items-cart {
          position: absolute;
          margin-top: -11px;
          margin-left: 11px;
          border-radius: 50%;
          width: 19px;
          height: 19px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: $small;
          font-family: sans-serif;
          
          @include themify($themes) {
            background-color: themed('secondary200');
          }
        }

        > a {
          text-decoration: none;
          font-size: $small;

          @include themify($themes) {
            color: themed('textColor');
          }

          &:active,
          &.active,
          &:hover {
            @include themify($themes) {
              color: themed('secondary500');
            }
          }
        }
      }
    }

    .back {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      padding: 0 32px;

      @media screen and (min-width: $allDevices) {
        display: none;
      }
    }
  }
}