<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Product Page</title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body id="app-root" class="theme-light">
  <div class="app-container">
    <header class="header-container">
      <nav class="nav-container">
        <ul class="nav-container__list-container">
          <li class="list-container__list-item">
            <a href="/">Shop</a>
          </li>
          <li class="list-container__list-item">
            <a href="/admin/add-product" class="active">Add Product</a>
          </li>
        </ul>
      </nav>
      <button class="button primary" onclick="changeThemeHandler(this)">
        Change theme
      </button>
    </header>
    <main class="main-content__container">
      <h1 class="title">Add Product Page</h1>

      <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title">
        </div>
        <button class="button secondary" type="submit">Add Product</button>
      </form>
    </main>
  </div>
  <script src="../js/main.js"></script>
</body>

</html>
