/** FONT SIZES **/
/** FONT SIZES END **/
/** BREAKPOINTS **/
/** BREAKPOINTS ENDS **/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

body,
html {
  margin: 0;
  padding: 0; }

label,
input,
textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms;
  font-family: sans-serif; }

label {
  padding: 16px 0;
  letter-spacing: 1.5px; }
  label span {
    color: #f44; }

input,
textarea {
  border-radius: 2px;
  letter-spacing: 1px;
  font-weight: lighter;
  outline: none;
  padding: 8px; }
  .theme-light input, .theme-light
  textarea {
    border: 2px solid transparent;
    border-bottom-color: #212121; }
    .theme-light input:focus, .theme-light input:active, .theme-light
    textarea:focus, .theme-light
    textarea:active {
      border-color: #212121; }
  .theme-dark input, .theme-dark
  textarea {
    border: 2px solid transparent;
    border-bottom-color: #f5f5f5; }
    .theme-dark input:focus, .theme-dark input:active, .theme-dark
    textarea:focus, .theme-dark
    textarea:active {
      border-color: #f5f5f5; }

a {
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms; }
  .theme-light a {
    color: #00b0ff; }
    .theme-light a:hover {
      color: #40c4ff; }
  .theme-dark a {
    color: #00b0ff; }
    .theme-dark a:hover {
      color: #40c4ff; }

span.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  font-size: 21px;
  cursor: pointer;
  transition: color 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms; }
  .theme-light span.icon-container.icon__primary {
    color: #cddc39; }
    .theme-light span.icon-container.icon__primary:hover {
      color: #d4e157; }
  .theme-dark span.icon-container.icon__primary {
    color: #78909c; }
    .theme-dark span.icon-container.icon__primary:hover {
      color: #607d8b; }
  span.icon-container.icon__primary > i {
    font-weight: lighter; }
  .theme-light span.icon-container.icon__secondary {
    color: #29b6f6; }
    .theme-light span.icon-container.icon__secondary:hover {
      color: #4fc3f7; }
  .theme-dark span.icon-container.icon__secondary {
    color: #bdbdbd; }
    .theme-dark span.icon-container.icon__secondary:hover {
      color: #9e9e9e; }
  span.icon-container.icon__secondary > i {
    font-weight: lighter; }

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1600;
  top: 0;
  left: 0;
  display: block;
  user-select: none;
  display: none;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .theme-light .backdrop {
    background-color: #4fc3f7a3; }
  .theme-dark .backdrop {
    background-color: #9e9e9ea3; }

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%; }
  .theme-light .app-container {
    color: #212121;
    background-color: #fafafa; }
  .theme-dark .app-container {
    color: #f5f5f5;
    background-color: #212121; }
  .app-container .header-container {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1600;
    padding: 0 32px; }
    .theme-light .app-container .header-container {
      background-color: #f0f4c3;
      color: #212121;
      border-bottom: 5px solid #e6ee9c; }
    .theme-dark .app-container .header-container {
      background-color: #37474f;
      color: #f5f5f5;
      border-bottom: 5px solid #455a64; }
    .app-container .header-container .menu {
      display: block; }
      @media screen and (min-width: 771px) {
        .app-container .header-container .menu {
          display: none; } }
    .app-container .header-container .logo-container {
      height: 75%;
      width: auto;
      display: inline-block; }
      .app-container .header-container .logo-container .logo {
        background: url(../assets/images/logo.png) center no-repeat, #fff7;
        height: 100%;
        width: 42px;
        background-size: contain;
        border-radius: 50%;
        cursor: pointer; }
    .app-container .header-container .nav-container {
      display: none; }
      @media screen and (min-width: 771px) {
        .app-container .header-container .nav-container {
          width: 1000px;
          letter-spacing: 1px;
          font-family: sans-serif;
          max-width: 83.333%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center; } }
      .app-container .header-container .nav-container .nav-container__list-container {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 0; }
        @media screen and (min-width: 771px) {
          .app-container .header-container .nav-container .nav-container__list-container {
            flex-direction: row;
            justify-content: space-between;
            height: 100%; } }
        .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item {
          display: none; }
          @media screen and (min-width: 771px) {
            .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              width: auto;
              height: 100%;
              text-transform: uppercase; } }
          .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item > span.items-cart {
            position: absolute;
            margin-top: -11px;
            margin-left: 11px;
            border-radius: 50%;
            width: 19px;
            height: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-family: sans-serif; }
            .theme-light .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item > span.items-cart {
              background-color: #b3e5fc; }
            .theme-dark .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item > span.items-cart {
              background-color: #616161; }
          .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item > a {
            text-decoration: none;
            font-size: 12px; }
            .theme-light .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item > a {
              color: #212121; }
            .theme-dark .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item > a {
              color: #f5f5f5; }
            .theme-light .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item > a:active, .theme-light .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item > a.active, .theme-light .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item > a:hover {
              color: #29b6f6; }
            .theme-dark .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item > a:active, .theme-dark .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item > a.active, .theme-dark .app-container .header-container .nav-container .nav-container__list-container .list-container__list-item > a:hover {
              color: #bdbdbd; }
    .app-container .header-container .settings-container {
      opacity: 0;
      position: fixed;
      top: 56px;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      z-index: 1500;
      width: 275px;
      max-width: 45%;
      padding: 16px;
      transform: translateY(-100vh);
      box-shadow: -3px 3px 5px 5px #2221, -5px 5px 10px 3px #2222, -7px 7px 15px #2223;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      .theme-light .app-container .header-container .settings-container {
        background-color: #e1f5fe; }
      .theme-dark .app-container .header-container .settings-container {
        background-color: #424242; }
      .app-container .header-container .settings-container .settings__options-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        list-style: none;
        padding: 0; }
        .app-container .header-container .settings-container .settings__options-container .settings__options-list {
          list-style: none;
          width: 100%;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 14px;
          cursor: pointer;
          position: relative;
          z-index: 9;
          padding: 8px; }
          .app-container .header-container .settings-container .settings__options-container .settings__options-list .option-list__helper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: -1;
            transition: opacity 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms; }
            .theme-light .app-container .header-container .settings-container .settings__options-container .settings__options-list .option-list__helper {
              background: linear-gradient(to right, #b3e5fc 33.333%, transparent 100%); }
            .theme-dark .app-container .header-container .settings-container .settings__options-container .settings__options-list .option-list__helper {
              background: linear-gradient(to right, #616161 33.333%, transparent 100%); }
            .app-container .header-container .settings-container .settings__options-container .settings__options-list .option-list__helper:hover {
              opacity: 1; }
          .theme-light .app-container .header-container .settings-container .settings__options-container .settings__options-list {
            border-bottom: 2px solid #b3e5fc; }
            .theme-light .app-container .header-container .settings-container .settings__options-container .settings__options-list > a {
              color: #212121; }
          .theme-dark .app-container .header-container .settings-container .settings__options-container .settings__options-list {
            border-bottom: 2px solid #616161; }
            .theme-dark .app-container .header-container .settings-container .settings__options-container .settings__options-list > a {
              color: #f5f5f5; }
  .app-container .logo-alt__container {
    width: 33vw;
    height: 33vh;
    user-select: none; }
    .app-container .logo-alt__container .logo-alt {
      background: url(../assets/images/logo-alt.png) center no-repeat;
      width: 100%;
      height: 100%;
      background-size: contain; }
  .app-container .title {
    font-family: sans-serif;
    font-weight: lighter;
    user-select: none; }
    .app-container .title.title__head, .app-container .title.title__head-sub {
      font-weight: bolder;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #fafafa;
      text-shadow: -1px 1px #222, -2px 2px #222, -3px 3px #222, -4px 4px #222, -5px 5px #222, -6px 6px #222, -7px 7px #222, -8px 8px #fafafa;
      text-align: center; }
    .app-container .title.title__head {
      font-size: 13vw; }
      @media screen and (min-width: 600px) {
        .app-container .title.title__head {
          font-size: 7vw; } }
      @media screen and (min-width: 771px) {
        .app-container .title.title__head {
          font-size: 5vw; } }
    .app-container .title.title__head-sub {
      font-size: 8vw;
      color: #222;
      text-transform: capitalize;
      font-weight: 500;
      text-shadow: -1px 1px #fafafa, -2px 2px #fafafa; }
      @media screen and (min-width: 600px) {
        .app-container .title.title__head-sub {
          font-size: 3vw; } }
      @media screen and (min-width: 771px) {
        .app-container .title.title__head-sub {
          font-size: 2vw; } }
  .app-container .button {
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 0.1s, border-color 0.15s, background-color 0.2s;
    outline: none;
    font-weight: 300; }
    .app-container .button.large {
      padding: 16px 32px;
      font-size: 16px; }
      .app-container .button.large .icon-container {
        font-size: 16px; }
    .app-container .button .icon-container {
      font-size: 14px; }
    .theme-light .app-container .button {
      border: 2px solid transparent;
      color: #263238;
      text-transform: none; }
      .theme-light .app-container .button.primary {
        border-color: #dce775;
        background-color: #f9fbe7; }
        .theme-light .app-container .button.primary:hover {
          color: #37474f;
          border-color: #d4e157;
          background-color: #f0f4c3; }
      .theme-light .app-container .button.secondary {
        border-color: #81d4fa;
        background-color: #fafafa; }
        .theme-light .app-container .button.secondary:hover {
          color: #37474f;
          border-color: #4fc3f7;
          background-color: #e1f5fe; }
    .theme-dark .app-container .button {
      border: 2px solid transparent;
      color: #eeeeee;
      text-transform: uppercase; }
      .theme-dark .app-container .button.primary {
        border-color: #546e7a;
        background-color: #263238; }
        .theme-dark .app-container .button.primary:hover {
          color: #e0e0e0;
          border-color: #607d8b;
          background-color: #37474f; }
      .theme-dark .app-container .button.secondary {
        border-color: #757575;
        background-color: #212121; }
        .theme-dark .app-container .button.secondary:hover {
          color: #e0e0e0;
          border-color: #9e9e9e;
          background-color: #424242; }
  .app-container .product-form {
    width: 20rem;
    max-width: 91.666%;
    margin: 3.5rem auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 16px 32px; }
    .theme-light .app-container .product-form {
      box-shadow: -2px 4px 6px #2223;
      background-color: #e1f5fe; }
    .theme-dark .app-container .product-form {
      box-shadow: none;
      background-color: #424242; }
    .app-container .product-form .form-control {
      margin: 1rem auto; }
  .app-container .checkout-form {
    width: 30rem;
    max-width: 91.666%;
    margin: 3.5rem auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 16px; }
    .theme-light .app-container .checkout-form {
      box-shadow: -2px 4px 6px #2223;
      background-color: #e1f5fe; }
    .theme-dark .app-container .checkout-form {
      box-shadow: none;
      background-color: #424242; }
    .app-container .checkout-form .form-control {
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .app-container .checkout-form .form-control__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      .app-container .checkout-form .form-control__wrapper .form-control__inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%; }
        .app-container .checkout-form .form-control__wrapper .form-control__inner-wrapper .form-control {
          width: 100%; }
      .app-container .checkout-form .form-control__wrapper .form-control {
        width: 100%; }
  .app-container .main-content__container {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%; }
    .app-container .main-content__container .main-content__hero-container {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0; }
      .app-container .main-content__container .main-content__hero-container > .hero-container__cover {
        width: 100%;
        height: 100vh;
        background: radial-gradient(#2221 33%, #2226 100%), url("../assets/images/tech-gadgets.jpg") center no-repeat;
        image-rendering: crisp-edges;
        background-origin: border-box;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        background-size: cover;
        justify-content: center;
        align-items: center;
        position: relative; }
        .app-container .main-content__container .main-content__hero-container > .hero-container__cover > .hero-cover__go-down {
          position: absolute;
          font-size: 64px;
          bottom: 84px;
          cursor: pointer;
          transition: color 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms; }
          .theme-light .app-container .main-content__container .main-content__hero-container > .hero-container__cover > .hero-cover__go-down {
            color: #dce775; }
            .theme-light .app-container .main-content__container .main-content__hero-container > .hero-container__cover > .hero-cover__go-down:hover {
              opacity: 1 !important;
              color: #d4e157; }
          .theme-dark .app-container .main-content__container .main-content__hero-container > .hero-container__cover > .hero-cover__go-down {
            color: #546e7a; }
            .theme-dark .app-container .main-content__container .main-content__hero-container > .hero-container__cover > .hero-cover__go-down:hover {
              opacity: 1 !important;
              color: #607d8b; }
    .app-container .main-content__container .wrapper {
      width: 91.666%;
      max-width: 1200px;
      margin: 7rem auto; }
  .app-container .footer__container {
    padding: 64px 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: sans-serif; }
    .theme-light .app-container .footer__container {
      background-color: #f0f4c3;
      border-top: 5px solid #e6ee9c; }
    .theme-dark .app-container .footer__container {
      background-color: #37474f;
      border-top: 5px solid #455a64; }
    .app-container .footer__container .footer__content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 7rem;
      max-width: 1200px; }
    .app-container .footer__container .footer__credits {
      font-weight: lighter;
      font-size: 12px;
      width: 100%;
      text-align: center;
      margin-top: 16px;
      max-width: 1200px; }
  .app-container .error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 7rem;
    width: 600px;
    max-width: 91.666%;
    padding: 32px;
    box-shadow: -3px 3px 5px 5px #2221, -5px 5px 10px 3px #2222, -5px 5px 30px #2223;
    border-radius: 5px; }
    .theme-light .app-container .error-container {
      background-color: #e1f5fe; }
    .theme-dark .app-container .error-container {
      background-color: #424242; }
    .app-container .error-container > span {
      height: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      cursor: initial;
      user-select: none; }
      .app-container .error-container > span > p {
        font-size: 5em;
        font-family: monospace; }
  .app-container .sidedrawer-container {
    width: 350px;
    max-width: 66.66%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    letter-spacing: 1px;
    position: fixed;
    left: 0;
    top: 0;
    padding: 3.5rem 0;
    transform: translateX(-120vw); }
    .theme-light .app-container .sidedrawer-container {
      background-color: #e1f5fe; }
    .theme-dark .app-container .sidedrawer-container {
      background-color: #424242; }
    @media screen and (min-width: 771px) {
      .app-container .sidedrawer-container {
        display: none; } }
    .app-container .sidedrawer-container .sidedrawer-container__list-container {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      padding: 0; }
      @media screen and (min-width: 771px) {
        .app-container .sidedrawer-container .sidedrawer-container__list-container {
          display: none; } }
      .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        padding: 24px 32px;
        position: relative;
        z-index: 9;
        text-transform: uppercase; }
        .theme-light .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item {
          border-bottom: 2px solid #b3e5fc; }
        .theme-dark .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item {
          border-bottom: 2px solid #616161; }
        .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item:first-of-type {
          border-bottom: none; }
        @media screen and (min-width: 771px) {
          .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item {
            flex-direction: row;
            width: auto;
            height: 100%;
            padding: 0;
            border-bottom: none !important; } }
        .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item .list-item__helper {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: -1;
          transition: opacity 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms; }
          .theme-light .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item .list-item__helper {
            background: linear-gradient(to right, #b3e5fc 33.333%, transparent 100%); }
          .theme-dark .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item .list-item__helper {
            background: linear-gradient(to right, #616161 33.333%, transparent 100%); }
          .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item .list-item__helper:hover {
            opacity: 1; }
          @media screen and (min-width: 771px) {
            .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item .list-item__helper {
              display: none; } }
        .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item > span.items-cart {
          position: absolute;
          margin-top: -11px;
          margin-left: 11px;
          border-radius: 50%;
          width: 19px;
          height: 19px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          font-family: sans-serif; }
          .theme-light .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item > span.items-cart {
            background-color: #b3e5fc; }
          .theme-dark .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item > span.items-cart {
            background-color: #616161; }
        .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item > a {
          text-decoration: none;
          font-size: 12px; }
          .theme-light .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item > a {
            color: #212121; }
          .theme-dark .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item > a {
            color: #f5f5f5; }
          .theme-light .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item > a:active, .theme-light .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item > a.active, .theme-light .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item > a:hover {
            color: #29b6f6; }
          .theme-dark .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item > a:active, .theme-dark .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item > a.active, .theme-dark .app-container .sidedrawer-container .sidedrawer-container__list-container .list-container__list-item > a:hover {
            color: #bdbdbd; }
    .app-container .sidedrawer-container .back {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      padding: 0 32px; }
      @media screen and (min-width: 771px) {
        .app-container .sidedrawer-container .back {
          display: none; } }
