/** FONT SIZES **/
/** FONT SIZES END **/
/** BREAKPOINTS **/
/** BREAKPOINTS ENDS **/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  user-select: none; }

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif !important; }

button,
.button {
  font-family: 'Karla', sans-serif !important;
  letter-spacing: 1px !important;
  transition: color 0.1s, border-color 0.15s, background-color 0.20s, transform 0.5s !important;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important; }
  .theme-light button, .theme-light
  .button {
    color: #263238 !important;
    text-transform: capitalize !important; }
    .theme-light button.mdl-button--primary, .theme-light
    .button.mdl-button--primary {
      background-color: #f9fbe7 !important; }
      .theme-light button.mdl-button--primary:hover, .theme-light
      .button.mdl-button--primary:hover {
        color: #37474f !important;
        background-color: #f0f4c3 !important; }
    .theme-light button.mdl-button--secondary, .theme-light
    .button.mdl-button--secondary {
      background-color: #fafafa !important; }
      .theme-light button.mdl-button--secondary:hover, .theme-light
      .button.mdl-button--secondary:hover {
        color: #37474f !important;
        background-color: #e0f7fa !important; }
    .theme-light button.large, .theme-light
    .button.large {
      padding: 16px 32px;
      font-size: 16px; }
      .theme-light button.large .icon-container, .theme-light
      .button.large .icon-container {
        font-size: 16px; }
    .theme-light button .icon-container, .theme-light
    .button .icon-container {
      font-size: 14px !important;
      margin-right: 0.75rem !important; }
      .theme-light button .icon-container svg, .theme-light
      .button .icon-container svg {
        color: #4dd0e1 !important; }
  .theme-dark button, .theme-dark
  .button {
    color: #eeeeee !important;
    text-transform: uppercase !important; }
    .theme-dark button.mdl-button--primary, .theme-dark
    .button.mdl-button--primary {
      background-color: #263238 !important; }
      .theme-dark button.mdl-button--primary:hover, .theme-dark
      .button.mdl-button--primary:hover {
        color: #e0e0e0 !important;
        background-color: #37474f !important; }
    .theme-dark button.mdl-button--secondary, .theme-dark
    .button.mdl-button--secondary {
      background-color: #212121 !important; }
      .theme-dark button.mdl-button--secondary:hover, .theme-dark
      .button.mdl-button--secondary:hover {
        color: #e0e0e0 !important;
        background-color: #424242 !important; }
    .theme-dark button.large, .theme-dark
    .button.large {
      padding: 16px 32px;
      font-size: 16px; }
      .theme-dark button.large .icon-container, .theme-dark
      .button.large .icon-container {
        font-size: 16px; }
    .theme-dark button .icon-container, .theme-dark
    .button .icon-container {
      font-size: 14px !important;
      margin-right: 0.75rem !important; }
      .theme-dark button .icon-container svg, .theme-dark
      .button .icon-container svg {
        color: #9e9e9e !important; }
  button:hover,
  .button:hover {
    transform: scale3d(1.05, 1.075, 1.075) !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display SC', serif; }

label,
input,
textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms; }

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
  input[type="file"] + label {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    border: 5px solid transparent; }
    input[type="file"] + label* {
      pointer-events: none; }
    .theme-light input[type="file"] + label {
      color: #212121;
      background-color: #d4e157; }
      .theme-light input[type="file"] + label:hover {
        background-color: #e6ee9c; }
    .theme-dark input[type="file"] + label {
      color: #f5f5f5;
      background-color: #607d8b; }
      .theme-dark input[type="file"] + label:hover {
        background-color: #455a64; }
  .theme-light input[type="file"]:focus + label {
    border: 5px solid #4dd0e1;
    color: #212121;
    background-color: #e6ee9c; }
  .theme-dark input[type="file"]:focus + label {
    border: 5px solid #9e9e9e;
    color: #f5f5f5;
    background-color: #455a64; }

.img-preview__container {
  font-size: 12px;
  justify-content: space-between;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .img-preview__container .img-preview__item-container {
    width: 45%;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1.25%;
    padding: 4px; }
    .theme-light .img-preview__container .img-preview__item-container {
      background-color: #f0f4c3; }
    .theme-dark .img-preview__container .img-preview__item-container {
      background-color: #37474f; }
    .img-preview__container .img-preview__item-container .img-preview__item {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 83.333%;
      margin: auto; }
      .theme-light .img-preview__container .img-preview__item-container .img-preview__item {
        background-color: #e6ee9c; }
      .theme-dark .img-preview__container .img-preview__item-container .img-preview__item {
        background-color: #455a64; }
    .img-preview__container .img-preview__item-container figcaption {
      height: 16.666%; }
  .img-preview__container figcaption {
    padding: 8px 0; }

label {
  padding: 16px 0;
  letter-spacing: 1.5px; }
  label span {
    color: #f44; }

input,
textarea {
  border-radius: 2px;
  letter-spacing: 1px;
  font-weight: lighter;
  outline: none;
  padding: 8px; }
  .theme-light input, .theme-light
  textarea {
    border: 2px solid transparent;
    border-bottom-color: #212121; }
    .theme-light input:focus, .theme-light input:active, .theme-light
    textarea:focus, .theme-light
    textarea:active {
      border-color: #212121; }
  .theme-dark input, .theme-dark
  textarea {
    border: 2px solid transparent;
    border-bottom-color: #f5f5f5; }
    .theme-dark input:focus, .theme-dark input:active, .theme-dark
    textarea:focus, .theme-dark
    textarea:active {
      border-color: #f5f5f5; }

a {
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms; }
  .theme-light a {
    color: #00b0ff; }
    .theme-light a:hover {
      color: #40c4ff; }
  .theme-dark a {
    color: #00b0ff; }
    .theme-dark a:hover {
      color: #40c4ff; }

span.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  font-size: 21px;
  cursor: pointer;
  transition: color 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms; }
  .theme-light span.icon-container.icon__primary {
    color: #cddc39; }
    .theme-light span.icon-container.icon__primary:hover {
      color: #d4e157; }
  .theme-dark span.icon-container.icon__primary {
    color: #78909c; }
    .theme-dark span.icon-container.icon__primary:hover {
      color: #607d8b; }
  span.icon-container.icon__primary > i {
    font-weight: lighter; }
  .theme-light span.icon-container.icon__secondary {
    color: #26c6da; }
    .theme-light span.icon-container.icon__secondary:hover {
      color: #4dd0e1; }
  .theme-dark span.icon-container.icon__secondary {
    color: #bdbdbd; }
    .theme-dark span.icon-container.icon__secondary:hover {
      color: #9e9e9e; }
  span.icon-container.icon__secondary > i {
    font-weight: lighter; }

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%; }
  .theme-light .app-container {
    color: #212121;
    background-color: #fafafa; }
  .theme-dark .app-container {
    color: #f5f5f5;
    background-color: #212121; }
  .app-container .mdl-layout__obfuscator.is-visible {
    z-index: 1600; }
  .app-container .mdl-menu__container.is-upgraded.is-visible {
    z-index: 1600;
    top: 69px !important;
    width: 200px !important; }
    .app-container .mdl-menu__container.is-upgraded.is-visible .mdl-menu__outline {
      width: 200px !important;
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important; }
      .theme-light .app-container .mdl-menu__container.is-upgraded.is-visible .mdl-menu__outline {
        color: #212121;
        background-color: #f0f4c3;
        border-top: 5px solid #e6ee9c; }
      .theme-dark .app-container .mdl-menu__container.is-upgraded.is-visible .mdl-menu__outline {
        color: #f5f5f5;
        background-color: #37474f;
        border-top: 5px solid #455a64; }
    .app-container .mdl-menu__container.is-upgraded.is-visible .mdl-menu {
      width: 200px !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      clip: rect(0px, 134.797rem, 196px, 0px) !important; }
      .app-container .mdl-menu__container.is-upgraded.is-visible .mdl-menu .mdl-menu__item {
        cursor: pointer !important;
        transition: color 0.15s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
        .theme-light .app-container .mdl-menu__container.is-upgraded.is-visible .mdl-menu .mdl-menu__item {
          color: #212121 !important; }
          .theme-light .app-container .mdl-menu__container.is-upgraded.is-visible .mdl-menu .mdl-menu__item.active, .theme-light .app-container .mdl-menu__container.is-upgraded.is-visible .mdl-menu .mdl-menu__item:active, .theme-light .app-container .mdl-menu__container.is-upgraded.is-visible .mdl-menu .mdl-menu__item:hover {
            color: #26c6da !important; }
        .theme-dark .app-container .mdl-menu__container.is-upgraded.is-visible .mdl-menu .mdl-menu__item {
          color: #f5f5f5 !important; }
          .theme-dark .app-container .mdl-menu__container.is-upgraded.is-visible .mdl-menu .mdl-menu__item.active, .theme-dark .app-container .mdl-menu__container.is-upgraded.is-visible .mdl-menu .mdl-menu__item:active, .theme-dark .app-container .mdl-menu__container.is-upgraded.is-visible .mdl-menu .mdl-menu__item:hover {
            color: #bdbdbd !important; }
  .app-container .mdl-layout__header {
    z-index: 1600;
    padding: 0 32px; }
    .app-container .mdl-layout__header .mdl-layout__drawer-button {
      outline: none !important;
      user-select: none !important; }
    .theme-light .app-container .mdl-layout__header {
      background-color: #f0f4c3 !important;
      color: #212121 !important;
      border-bottom: 5px solid #e6ee9c !important; }
    .theme-dark .app-container .mdl-layout__header {
      background-color: #37474f !important;
      color: #f5f5f5 !important;
      border-bottom: 5px solid #455a64 !important; }
    .app-container .mdl-layout__header .logo-container {
      height: 75%;
      width: auto;
      display: inline-block; }
      .app-container .mdl-layout__header .logo-container .logo {
        background: url(../assets/images/logo.png) center no-repeat, #fff7;
        height: 100%;
        width: 42px;
        background-size: contain;
        border-radius: 50%;
        cursor: pointer; }
    .app-container .mdl-layout__header a {
      font-size: 14px;
      text-transform: uppercase; }
      .theme-light .app-container .mdl-layout__header a {
        color: #212121 !important; }
      .theme-dark .app-container .mdl-layout__header a {
        color: #f5f5f5 !important; }
      .theme-light .app-container .mdl-layout__header a:active, .theme-light .app-container .mdl-layout__header a.active, .theme-light .app-container .mdl-layout__header a:hover {
        color: #26c6da !important; }
      .theme-dark .app-container .mdl-layout__header a:active, .theme-dark .app-container .mdl-layout__header a.active, .theme-dark .app-container .mdl-layout__header a:hover {
        color: #bdbdbd !important; }
  .app-container .mdl-layout__drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 64px;
    z-index: 1700; }
    .app-container .mdl-layout__drawer .mdl-navigation {
      width: 100%; }
      .app-container .mdl-layout__drawer .mdl-navigation a {
        font-size: 14px;
        text-transform: uppercase; }
        .theme-light .app-container .mdl-layout__drawer .mdl-navigation a {
          color: #212121 !important; }
          .theme-light .app-container .mdl-layout__drawer .mdl-navigation a:hover {
            background-color: #80deea !important; }
        .theme-dark .app-container .mdl-layout__drawer .mdl-navigation a {
          color: #f5f5f5 !important; }
          .theme-dark .app-container .mdl-layout__drawer .mdl-navigation a:hover {
            background-color: #757575 !important; }
    .theme-light .app-container .mdl-layout__drawer {
      background-color: #f0f4c3 !important;
      color: #212121 !important;
      border-right: 2px solid #dce775 !important; }
    .theme-dark .app-container .mdl-layout__drawer {
      background-color: #37474f !important;
      color: #f5f5f5 !important;
      border-right: 2px solid #546e7a !important; }
  .app-container .logo-alt__container {
    width: 30vw;
    height: 30vh;
    user-select: none; }
    .app-container .logo-alt__container .logo-alt {
      background: url(../assets/images/logo-alt.png) center no-repeat;
      width: 100%;
      height: 100%;
      background-size: contain; }
  .app-container .title {
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
    user-select: none; }
    .app-container .title.title__head, .app-container .title.title__head-sub {
      font-weight: bolder;
      width: 91.666%;
      max-width: 800px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #fafafa;
      text-shadow: -1px 1px #222, -2px 2px #222, -3px 3px #222, -4px 4px #222, -5px 5px #222, -6px 6px #222, -7px 7px #222, -8px 8px #fafafa;
      text-align: center; }
    .app-container .title.title__head {
      font-family: 'Playfair Display SC', serif;
      font-size: 10vw; }
      @media screen and (min-width: 600px) {
        .app-container .title.title__head {
          font-size: 9vw; } }
      @media screen and (min-width: 771px) {
        .app-container .title.title__head {
          font-size: 5vw; } }
    .app-container .title.title__head-sub {
      font-size: 5vw;
      color: #222;
      text-transform: capitalize;
      font-family: 'Oregano', cursive;
      font-weight: 200;
      text-shadow: none; }
      @media screen and (min-width: 600px) {
        .app-container .title.title__head-sub {
          font-size: 4vw; } }
      @media screen and (min-width: 771px) {
        .app-container .title.title__head-sub {
          font-size: 2vw; } }
  .app-container .product-form {
    width: 30rem;
    max-width: 91.666%;
    margin: 3.5rem auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 16px 32px; }
    .theme-light .app-container .product-form {
      box-shadow: 0 4px 5px 0 #2221, 0 1px 10px 0 #2221, 0 2px 4px -1px #2223;
      background-color: #e0f7fa; }
    .theme-dark .app-container .product-form {
      box-shadow: none;
      background-color: #424242; }
    .app-container .product-form .form-control {
      margin: 1rem auto; }
  .app-container .checkout-form {
    width: 30rem;
    max-width: 91.666%;
    margin: 3.5rem auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 16px; }
    .theme-light .app-container .checkout-form {
      box-shadow: 0 4px 5px 0 #2221, 0 1px 10px 0 #2221, 0 2px 4px -1px #2223;
      background-color: #e0f7fa; }
    .theme-dark .app-container .checkout-form {
      box-shadow: none;
      background-color: #424242; }
    .app-container .checkout-form .form-control {
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .app-container .checkout-form .form-control__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      .app-container .checkout-form .form-control__wrapper .form-control__inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%; }
        .app-container .checkout-form .form-control__wrapper .form-control__inner-wrapper .form-control {
          width: 100%; }
      .app-container .checkout-form .form-control__wrapper .form-control {
        width: 100%; }
  .app-container .mdl-layout__content {
    min-width: 100% !important; }
    .app-container .mdl-layout__content .page-content {
      min-width: 100% !important;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      min-height: 100vh; }
    .app-container .mdl-layout__content .main-content__hero-container {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0; }
      .app-container .mdl-layout__content .main-content__hero-container > .hero-container__cover {
        width: 100%;
        height: 100vh;
        image-rendering: crisp-edges;
        background-origin: border-box;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        background-size: cover;
        justify-content: flex-start;
        padding-top: 7rem;
        align-items: center;
        position: relative; }
        .theme-light .app-container .mdl-layout__content .main-content__hero-container > .hero-container__cover {
          background: radial-gradient(#26c6daa0 33%, #e0f7faa0 100%), url("../assets/images/tech-gadgets.jpg") center no-repeat; }
        .theme-dark .app-container .mdl-layout__content .main-content__hero-container > .hero-container__cover {
          background: radial-gradient(#bdbdbda0 33%, #424242a0 100%), url("../assets/images/tech-gadgets.jpg") center no-repeat; }
        .app-container .mdl-layout__content .main-content__hero-container > .hero-container__cover > .hero-cover__go-down {
          position: absolute;
          font-size: 64px;
          bottom: 84px;
          cursor: pointer;
          transition: color 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 50ms; }
          .theme-light .app-container .mdl-layout__content .main-content__hero-container > .hero-container__cover > .hero-cover__go-down {
            color: #dce775; }
            .theme-light .app-container .mdl-layout__content .main-content__hero-container > .hero-container__cover > .hero-cover__go-down:hover {
              opacity: 1 !important;
              color: #d4e157; }
          .theme-dark .app-container .mdl-layout__content .main-content__hero-container > .hero-container__cover > .hero-cover__go-down {
            color: #546e7a; }
            .theme-dark .app-container .mdl-layout__content .main-content__hero-container > .hero-container__cover > .hero-cover__go-down:hover {
              opacity: 1 !important;
              color: #607d8b; }
    .app-container .mdl-layout__content .wrapper {
      width: 91.666%;
      max-width: 1200px;
      margin: 3.5rem auto; }
  .app-container .footer__container {
    padding: 64px 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    .theme-light .app-container .footer__container {
      background-color: #f0f4c3;
      border-top: 5px solid #e6ee9c; }
    .theme-dark .app-container .footer__container {
      background-color: #37474f;
      border-top: 5px solid #455a64; }
    .app-container .footer__container .footer__content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 7rem;
      max-width: 1200px; }
    .app-container .footer__container .footer__credits {
      font-weight: lighter;
      font-size: 12px;
      width: 100%;
      text-align: center;
      margin-top: 16px;
      max-width: 1200px; }
  .app-container .error-wrapper,
  .app-container .confirm-wrapper {
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; }
    .app-container .error-wrapper .error-container,
    .app-container .error-wrapper .confirm-container,
    .app-container .confirm-wrapper .error-container,
    .app-container .confirm-wrapper .confirm-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 600px;
      max-width: 91.666%;
      padding: 32px;
      box-shadow: -3px 3px 5px 5px #2221, -5px 5px 10px 3px #2222, -5px 5px 30px #2223;
      border-radius: 3px; }
      .theme-light .app-container .error-wrapper .error-container, .theme-light
      .app-container .error-wrapper .confirm-container, .theme-light
      .app-container .confirm-wrapper .error-container, .theme-light
      .app-container .confirm-wrapper .confirm-container {
        background-color: #e0f7fa; }
      .theme-dark .app-container .error-wrapper .error-container, .theme-dark
      .app-container .error-wrapper .confirm-container, .theme-dark
      .app-container .confirm-wrapper .error-container, .theme-dark
      .app-container .confirm-wrapper .confirm-container {
        background-color: #424242; }
      .app-container .error-wrapper .error-container > span,
      .app-container .error-wrapper .confirm-container > span,
      .app-container .confirm-wrapper .error-container > span,
      .app-container .confirm-wrapper .confirm-container > span {
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        cursor: initial;
        user-select: none; }
        .app-container .error-wrapper .error-container > span > p,
        .app-container .error-wrapper .confirm-container > span > p,
        .app-container .confirm-wrapper .error-container > span > p,
        .app-container .confirm-wrapper .confirm-container > span > p {
          font-size: 5em;
          font-family: monospace; }
      .app-container .error-wrapper .error-container p,
      .app-container .error-wrapper .confirm-container p,
      .app-container .confirm-wrapper .error-container p,
      .app-container .confirm-wrapper .confirm-container p {
        letter-spacing: 1px;
        font-weight: 400; }
