<%- include('../includes/head.ejs')  %>
</head>

<%- include('../includes/navigation.ejs') %>
  <h3 class="title">
    Checkout Page
  </h3>
  <form class="checkout-form" action="/checkout" method="POST">
    <div class="form-control__wrapper">
      <div class="form-control__inner-wrapper">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="f_name" id="f_name" placeholder="John">
          <label class="mdl-textfield__label" for="f_name">
            First Name <span>*</span>
          </label>
        </div>
      </div>
      <div class="form-control__inner-wrapper">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="l_name" id="l_name" placeholder="Doe">
          <label class="mdl-textfield__label" for="l_name">
            Last Name <span>*</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-control__wrapper">
      <div class="form-control__inner-wrapper">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="address_1" id="address_1" placeholder="123 Main ST">
          <label class="mdl-textfield__label" for="address_1">
            Address 1 <span>*</span>
          </label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="address_2" id="address_2" placeholder="Apt 23A, floor 7">
          <label class="mdl-textfield__label" for="address_2">
            Address 2
          </label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="city" id="city" placeholder="San José">
          <label class="mdl-textfield__label" for="city">
            City <span>*</span>
          </label>
        </div>
      </div>
      <div class="form-control__inner-wrapper">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="state" id="state" placeholder="California">
          <label class="mdl-textfield__label" for="state">
            State/Province <span>*</span>
          </label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="zip_code" id="zip_code" placeholder="33502">
          <label class="mdl-textfield__label" for="zip_code">
            Postal Code <span>*</span>
          </label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="phone" id="phone" placeholder="303 586-5236">
          <label class="mdl-textfield__label" for="phone">
            Contact Phone <span>*</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-control__wrapper">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" rows="5" name="add_info" id="add_info" placeholder="Ring the bell so I can come out."></textarea>
        <label class="mdl-textfield__label" for="add_info">
          Additional Information
        </label>
      </div>
    </div>
    <div class="form-control__wrapper">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--secondary" type="submit">
        <span class="icon-container secondary">
          <i class="fas fa-times"></i>
        </span>
        Back
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--secondary" type="submit">
        <span class="icon-container secondary">
          <i class="fas fa-dollar-sign"></i>
        </span>
        Continue
      </button>
    </div>
  </form>
<%- include('../includes/end.ejs') %>