<%- include('../includes/head.ejs')  %>
</head>

<%- include('../includes/navigation.ejs') %>
  <div class="wrapper">
    <form action="/login-callback" method="POST" class="checkout-form">
      <div class="form-control__wrapper">
        <div class="form-control__inner-wrapper">
          <div class="form-control">
            <label for="email">
              Email
            </label>
            <input type="text" name="email" id="email" placeholder="example@mail.com">
          </div>
        </div>
        <div class="form-control__inner-wrapper">
          <div class="form-control">
            <label for="password">
              Password
            </label>
            <input type="text" name="password" id="password" placeholder="Your password here">
          </div>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">
        Login
      </button>
    </form>
  </div>
<%- include('../includes/end.ejs') %>