<%- include('../includes/head.ejs')  %>
</head>

<%- include('../includes/navigation.ejs') %>
  <h1 class="title">
    Orders Page
  </h1>
  <a href="/checkout" class="button primary">
    Go to checkout
  </a>
<%- include('../includes/end.ejs') %>